:root {
  --DarkerPink: #f0a8bb;
  --LighterPink: #f9dde0;
  --Blue: #92b2ba;
  --Background: whitesmoke;
  --TagBackground: #f5f5f5;
  --FooterBackground: #eeeeee;
  --TagText: #777777;
  --black: #4f4f4f;
  --white: #ffffff;
  --boxShadow: #ededed;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Open Sans", sans-serif;

  background-color: #f5f5f5;
  margin: 0;
}
div {
  margin: 0px;
}
/* div {
    background-color: #482994;
    border: 1px solid white; */

/* img {
  width: 100%;
} */
a:any-link {
  color: black;
  text-decoration: none;
}

.top-container {
  width: clamp(80px, 95svw, 1200px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.nav {
  background-color: #92b2ba;
  width: 100%;
  padding: 24px 48px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc((1rem * 0.7) * 1vw);
  box-sizing: border-box;
  font-family: "DM Sans";
  color: var(--white);
  margin: 24px 0px;
}

.nav a:any-link {
  color: var(--white);
}

.banner {
  display: flex;
  width: 100%;
  object-fit: fill;
  margin: 0;
  position: relative;
  margin-bottom: 32px;
}

.banner img {
  display: flex;
  object-fit: fill;
  width: 100%;
}

.banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
}

.flowerbox {
  font-size: 72px;
  font-weight: 900;
  font-family: "DM Sans";
  margin-right: 36px;
  letter-spacing: 4px;
  color: var(--Blue);
  text-shadow: 2px 2px var(--white);
}

.tag-line {
  margin-right: 36px;
  padding: 6px 12px;
  background-color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: var(--DarkerPink);
}

.products-grid {
  display: hide;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-around;
  width: 100%;
  box-sizing: border-box;
}

.product-container {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  margin-right: 24px;
  margin-bottom: 24px;
  box-shadow: 3px 3px var(--boxShadow);
}

.product-container:nth-child(3n) {
  margin-right: 0px;
}

.product-photo {
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
}

.product-photo img {
  width: 100%;
  margin: 0px;
}

.product-bottom {
  padding: 16px;
  background-color: var(--white);
  margin: 0px;
  height: auto;
}

.product-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-family: "DM Sans", sans-serif;
  color: var(--Blue);
  font-weight: 900;
  font-size: 18px;
}

.price {
  background-color: var(--DarkerPink);
  padding: 4px;
  font-weight: 900;
  color: var(--white);
  font-family: "DM Sans";
}

.product-tags {
  padding-top: 8px;
  display: flex;
}

.tag {
  font-size: 12px;
  display: flex;
  background-color: var(--TagBackground);
  padding: 0.3rem;
  color: var(--TagText);
  text-transform: uppercase;
  margin-right: 1ch;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--FooterBackground);
  margin-bottom: 36px;
}

.logo-container {
  padding: 36px;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 900;
  text-transform: uppercase;
  color: var(--DarkerPink);
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img {
  object-fit: contain;
  width: 100px;
}

.logo-text {
  font-weight: 700;
  margin: 8px 0px;
  font-size: 12px;
}

.social-icons {
  color: var(--Blue);
}

.footer-column {
  /* width: 20%; */
  padding: 0px 64px;
  font-family: "Open Sans";
  border-left: 1px solid #e0e0e0;
  margin: 32px 0px;
}

.footer-header {
  font-family: "DM sans";
  color: var(--Blue);
  font-weight: 800;
  font-size: 18px;
  padding: 8px 0px;
}

.footer-link {
  padding: 4px 0px;
}

.footer-link a {
  text-transform: uppercase;
  color: var(--TagText);
  font-size: 12px;
}
